* {
  text-align: center;
}

img {
  aspect-ratio: 1;
  object-fit: cover;
}

.actor-card {
  max-width: calc(100% / 3 - (10px *2));
  border-radius: 10px;
  background-color: rgb(31, 31, 78);
  color: white;
  margin: 10px;
}
